.omar-game-1 {
font-size: 50px;
height: 50px;
width: 40px
center 
}
.omar-game-2 {
    font-size: 50px;
height: 50px;
width: 40px
center
}
.omar-game-3 {
    font-size: 50px;
    height: 50px;
    width: 40px
 
}
.omar-game-4 {
 height: 50px;
width: 40px
}
.omar-game-5 {
    font-size: 50px
}
.omar-game-6 {
    font-size: 50px
}
.omar-game-7 {
    font-size: 50px
}
.omar-game-9 {
    font-size: 50px
}
.omar-game-8 {
    font-size: 50px
}
.omar-game-10 {
    font-size: 50px
}
.omar-game-11 {
    font-size: 50px
}
.omar-game-12 {
    font-size: 50px
}
.omar-game-13 {
    font-size: 50px
}